<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".OmOperation"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">
        <activity
            android:name=".activities.PrintCN"
            android:exported="false" />
        <activity
            android:name=".activities.AVRWithtGate"
            android:exported="false" />
        <activity
            android:name=".activities.PrintMultiple"
            android:exported="false" />
        <activity
            android:name=".activities.BarcodeModule"
            android:exported="false" />
        <activity
            android:name=".activities.DocScanning"
            android:exported="false" />
        <activity
            android:name=".activities.StockDocScan"
            android:exported="false" />
        <activity
            android:name=".activities.EmptyChallan"
            android:exported="false" />
        <activity
            android:name=".activities.TripChallan"
            android:exported="false" />
        <activity
            android:name=".activities.StockAudit"
            android:exported="false" />
        <activity
            android:name=".activities.TestActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CnCreationByEway"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".activities.GetPaper"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoadingPlanByGate"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.GatePassIn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VideoList"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VideoSample"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.PickUpChallan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyBrowser"
            android:exported="false"
            android:label="@string/title_activity_my_browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CnRewareHouse"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BillSubmissionAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PodUploadAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VehicleLoadUnload"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoadingPlanTally"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CNCreation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VehicleImage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EmployeesAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BarcodePrint"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CnEnquery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OdaStation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoadingPlan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BarcodeScanning"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChallanCreation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BranchesAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DashboardAct"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.CheckMissing"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MissingList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddManual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AVR"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Splash"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.omoperation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>